.u-color-black { color: $color-black !important; }

.u-color-white { color: $color-white !important; }

.u-color-grey-10 { color: $color-black-10 !important; }
.u-color-grey-16 { color: $color-black-16 !important; }
.u-color-grey-70 { color: $color-grey-70 !important; }
.u-color-grey-91 { color: $color-grey-91 !important; }
.u-color-grey-97 { color: $color-grey-97 !important; }


.u-color-midnight-blue { color: $color-midnight-blue !important; }


//  Background colours
 .u-bg-color-white { background-color: $color-white !important; }

.u-bg-color-black { background-color: $color-black !important; }
.u-bg-color-black-10 { background-color: $color-black-10 !important; }
.u-bg-color-black-16 { background-color: $color-black-16 !important; }

.u-bg-color-grey-70 { background-color: $color-grey-70 !important; }
.u-bg-color-grey-91 { background-color: $color-grey-91 !important; }
.u-bg-color-grey-92 { background-color: $color-grey-92 !important; }
.u-bg-color-grey-97 { background-color: $color-grey-97 !important; }

.u-bg-color-midnight-blue { background-color: $color-midnight-blue !important; }