// Padding helper classes, using the Emmet naming convention


@each $space in $spacings {
    .u-p-#{$space} {
        padding: #{$space}px;
    }

    .u-p-t-#{$space} {
        padding-top: #{$space}px;
    }

    .u-p-b-#{$space} {
        padding-bottom: #{$space}px;
    }

    .u-p-tb-#{$space} {
        padding-top: #{$space}px;
        padding-bottom: #{$space}px;
    }

    .u-p-l-#{$space} {
        padding-left: #{$space}px;
    }

    .u-p-r-#{$space} {
        padding-right: #{$space}px;
    }

    .u-p-lr-#{$space} {
        padding-left: #{$space}px;
        padding-right: #{$space}px;
    }
}