.u-full-width {
  width: 100%;
}

.u-max-content-width-narrow {
    @include center-block();
    max-width: $max-content-width-narrow;
}

.u-max-content-width-wide {
    @include center-block();
    max-width: $max-content-width-wide;
}