.container-fluid {
  max-width: $site-max-width;
  padding: 0 $container-padding-mobile;

  @media (min-width: $screen-md) {
    padding: 0 $container-padding-desktop;
  }
}

.one-quarter {
    @include make-xs-column(12, 0);

    @media (min-width: $screen-sm) {
        @include make-sm-column(3, 0);
    }
}

.one-third {
    @include make-xs-column(12, 0);

    @media (min-width: $screen-sm) {
        @include make-sm-column(4, 0);
    }
}