@import '@/styles/variables/_partial-import.scss';
@import "@/styles/mixins/_partial-import";
@import "@/styles/custom-bootstrap/_variables";
@import "@/styles/utilities/_partial-import";

.pageHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-mobile-height;
  margin: 0;
  padding: 0 $container-padding-mobile;
  background-color: #fff;
  border-bottom: 1px solid $color-black-16;
  //transition: all .6s ease;
  z-index: 1001;

  .logo {
      position  : relative;
      @include center-vertical();
  }

  &.ishidden {
      transform: translate3d(0px, -$header-mobile-height, 0px);
  }

  @media (min-width: $screen-md) {
      padding: 0 $container-padding-desktop;
      height: $header-desktop-height;

      &.isHidden {
          transform: translate3d(0px, -$header-desktop-height, 0px);
      }
  }

  .navToggle {
      right: $container-padding-mobile;

      @media (min-width: $screen-md) {
          right: $container-padding-desktop;
      }
  }
}