$color-white: #ffffff;
$color-ghost-white: #F8F8FF;

$color-black: #000000;

$color-black-10: #1c2327;
$color-black-16: #292929;

$color-grey-70: #b3b3b3;
$color-grey-91: #e8e8e8;
$color-grey-92: #ededed;
$color-grey-97: #f8f8f8;

//http://www.december.com/html/spec/color3.html
$color-midnight-blue: #071c28;


$color-red-400: #F50057;

// Element spcific colours

$color-body: $color-black-10;

$color-link: #00bfff;
$color_button_primary_background: #00bfff;
$color_button_secondary_background: $color-white;