$font-size-h1 {
  font-size: 1.75em; //28px;

  @media (min-width: $screen-md) {
    font-size: 2.625em; //42px;
  }
}

$font-size-h2 {
  font-size: 1.5em; //24px;

  @media (min-width: $screen-md) {
    font-size: 2.125em; //34px;
  }
}

$font-size-h3 {
  font-size: 1.125em; //18px;

  @media (min-width: $screen-md) {
    font-size: 1.875em; //30px;
  }
}