$spacing-small-mobile: 30px;
$spacing-small-desktop: 40px;

$spacing-medium-mobile: 60px;
$spacing-medium-desktop: 100px;

$spacing-large-mobile: 120px;
$spacing-large-desktop: 260px;

$spacing-xlarge-mobile: 240px;
$spacing-xlarge-desktop: 360px;