.data-filter {

  .filter-title {
    color: $color-white;
  }


  &-items {

  }

  .filter-item {

  }

  .filter-link {
    display: inline-block;
    border-bottom: none;
    color: $color-white;
    font-size: 1.125em; //18px;
    font-weight: $font-weight-bold;
    cursor: pointer;
    padding: 20px;


    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
    }

    &:hover {
      color: $color-link;
    }

    &.is-active {
      border-bottom: 2px solid $color-link;
    }
  }
}