.icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-arrow-down {
    background-image: url("/assets/img/icons/icon-arrow-black-down.svg");
}

.icon-arrow-down-white {
    background-image: url("/assets/img/icons/icon-arrow-white-down.svg");
}

.icon-arrow-right {
    background-image: url("/assets/img/icons/icon-arrow-black-right.svg");
}

.icon-arrow-left {
    background-image: url("/assets/img/icons/icon-arrow-black-left.svg");
}

.icon-arrow-up {
    background-image: url("/assets/img/icons/icon-arrow-black-up.svg");
}

.icon-facebook {
    background-image: url("/assets/img/icons/icon-facebook.svg");
}

.icon-twitter {
    background-image: url("/assets/img/icons/icon-twitter.svg");
}

.icon-instagram {
    background-image: url("/assets/img/icons/icon-instagram.svg");
}

.icon-linkedin {
    background-image: url("/assets/img/icons/icon-linkedin.svg");
}

.icon-medium {
    background-image: url("/assets/img/icons/icon-medium.svg");
}

.icon-dribble {
    background-image: url("/assets/img/icons/icon-dribbble.svg");
}